<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <div class="container products-wrapper">
      <div class="row">
        <div class="col-12">
          <h2 class="products-title">Productos</h2>
        </div>

        <% for (let i = 0; i < listaProductos.length; i++) { %>
          <div class="col-12 col-sm-6 col-lg-3">
            <section class="product-box">
              <a href="http://localhost:3000/mercado/index/detalle/<%= listaProductos[i].id %>">
                <figure class="product-box_image">
                  <img class="imagenProductos" src="<%= listaProductos[i].imagenArchivo  %>" alt="Producto">
                </figure>
                <article class="product-box_data">
                  <h2><%= listaProductos[i].nombre %></h2>
                  <p><%= listaProductos[i].descripcion %></p>
                  
                  <% for (let j = 0; j < listaProductos[i].comentarios.length; j++) { %>
                    <p>Comentarios: <%= listaProductos[i].comentarios.length %></p>
                  <% } %>

                </article>
              </a>
            </section>
          </div>
        <% } %>
      </div>
    </div>
<%- include('./partials/footer.ejs') %>
</html>
