<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>DigitalMac</title>

</head>
<body>
    <%- include('./partials/header.ejs') %>
    <div class="container products-wrapper">
        <div class="d-flex align-items-center">
            <p class="product-detail-description">
                <a href="http://localhost:3000/mercado/detail/editgi">Editar</a>
            </p>
        </div>

        <div class="product-detail">
            <div class="row">
                <article class="col-12 col-lg-8 product-detail-info">
                    <h2 class="products-title"><%= listaProducto.nombre %></h2>
                    <img class="imagenProducto-2" src="<%= listaProducto.imagenArchivo %>" alt="Producto">
                    <p><%= listaProducto.descripcion %></p>

                    <% if (listaProducto.usuario) { %>
                        <p class="publicado-por">
                            Publicado por: <strong><%= listaProducto.usuario.usuario %></strong>
                            (<%= listaProducto.usuario.email %>)
                        </p>
                    <% } %>
                </article>

                <div class="col-12 col-lg-4">
                    <section class="comments">
                            <% for (var i = 0; i < listaProducto.comentarios.length; i++) { %>
                                <article>
                                    <a href="/mercado/name/<%= listaProducto.comentarios[i].usuario.id %>">
                                        <img src="<%= listaProducto.usuario.fotoPerfil %>" alt="Usuario">
                                    </a>
                                    <div class="data">
                                      <p >
                                        <%= listaProducto.comentarios[i].comentario %>
                                      </p>
                                    </div>
                                </article>
                            <% } %>
                    </section>
                    <% if (locals.user != undefined) { %>
                    <form action="" method="get" class="comentario-producto">
                        <p class="form-label">Agregar comentario:</p>
                        <input class="form-input" type="text" name="comentario" value="">
                        <button type="submit" class="buy-now-button">Enviar</button>
                    </form>
                    <% } %>
                </div>
            </div>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>
</html>