<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<< HEAD
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>DigitalMac</title>
=======
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
>>>>>>> e2cf3998757177a05bb94c7f6b9b8454e38b634b
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <ul>
        <li><a href="http://localhost:3000/mercado/edit">Editar</a></li>
        <% for( let i = 0; i < listaProducto.length; i++ ) { %>
            <li><%=listaProducto[i].nombre %></li>
            <li><img src="<%=listaProducto[i].imagen%>" alt="Producto"></li>
            <li><%=listaProducto[i].descripcion%></li>
        <% } %>
        <% for (let i = 0; i < productoComentarios.length; i++) { 
            const c = productoComentarios[i]; %>
            <li>
                <% if (c.fotoPerfil) { %>
                    <img src="<%= c.fotoPerfil %>" alt="Usuario">
                <% } %>
            <%= c.usuario %>: <%= c.comentario %>
            </li>
        <% } %>
        <li>
        <form action="http://localhost:3000/mercado/detalle/1" method="get">
            <p>Agregar comentario:</p>
            <input type="text" name="comentario" value="">
            <button type="submit">Enviar</button>
        </form>
        </li>
    </ul>
    <%- include('./partials/footer.ejs') %>
</body>
</html>