<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>DigitalMac</title>
</head>
<body>
  <%- include('./partials/header.ejs') %>


  <section class="info-usuario container products-wrapper">
    <div class="row">
        <div class="img-container offset-3 col-2">
          <img src="<%=usuario.fotoPerfil %>" alt="foto de perfil" class="foto-perfil">
        </div>

        <div class="data-container col-6">
          <div class="d-flex align-items-center">
            <h1 class="main-title"><%= usuario.usuario %></h1>
            <a href="#" class="btn mt-3 ml-4">SEGUIR</a>
          </div>

          <div>
            <ul>
              <li><%= usuario.email %></li>
              <p class="mt-2 "> Total de productos: <strong> <%= productos %></strong></p>
            </ul>
          </div>
        </div>
    </div>
  </section>



  <div class="container products-wrapper">
    <div class="row">
      <div class="col-12">
        <h2 class="products-title">Mis productos</h2>
      </div>

    
      <% for (let i = 0; i < productosUsuarios.length; i++) { %>
        <div class="col-12 col-sm-6 col-lg-3">
          <section class="product-box">
            <a href="http://localhost:3000/mercado/index/detalle/<%= productosUsuarios[i].id %>">
              <figure class="product-box_image">
                <img src="<%= productosUsuarios[i].imagenArchivo %>" alt="Producto">
              </figure>

              <article class="product-box_data">
                <h2><%= productosUsuarios[i].nombre %></h2>
                <p><%= productosUsuarios[i].descripcion %></p>

              </article>
            </a>
          </section>
        </div>
      <% } %>
    </div>
  </div>


  <%- include('./partials/footer.ejs') %>
</body>
</html>

