<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>DigitalMac</title>
</head>
<body>
    <% if (locals.user != undefined) { %>
      <%- include("./partials/headerLogueado.ejs") %>
    <% } else { %>
      <%- include('./partials/header.ejs') %>
    <% } %>
    <div class="container products-wrapper">
      <div class="row">
        <div class="col-12">
          <h2 class="products-title"> Resultados de busqueda</h2>
        </div>
                <% if ( resultados.length === 0 ) { %>
                    <p class="error">No hay resultados para su criterio de busqueda</p>
                    <% } %>
                              <div class="container products-wrapper">
                                    <div class="row">
                                        <% for(let i=0; i < resultados.length; i++) { %>
                                            <div class="col-12 col-sm-6 col-lg-3">
                                                <section class="product-box">
                                                    <a href="http://localhost:3000/mercado/index/detalle/<%= resultados[i].id%> ">
                                                        <figure class="product-box_image">
                                                            <img src="<%= resultados[i].imagenArchivo%>"
                                                                 alt="Producto">
                                                        </figure>
                                                        <article class="product-box_data">
                                                            <h2><%= resultados[i].nombre %></h2>
                                                            <p><%= resultados[i].descripcion %></p>
                                                        </article>
                                                        <article>
                                                          <% if (resultados[i].usuario) { %>
                                                          <p class="publicado-por">
                                                          Publicado por: 
                                                           <a href="/users/perfil/"<%=resultados.usuario%> >
                                                          <strong> <%= resultados[i].usuario.usuario %> </strong>
                                                          </a>
                                                          </p>
                                                    
                                                          <% } %>
                                                      </article>

                                                    
                                                </section>
                                            </div>
                                            <% } %>
                                    </div>
                                </div>
<%- include('./partials/footer.ejs') %>
</body>
</html>

